@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: #687CD0;
    min-height: 100vh;
    /* width: 50vw; */
    border: 10px solid rgb(245, 245, 245);
}
.content{
    margin: 0 12%;
    /* height: 100%; */
}
.profile_section{
    margin-top: 2%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.profile_image{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile_image img{
    width: 80%;
    padding: 2%;
}
.profile_details{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    font-family: "Lora", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 48px;
    color: whitesmoke;
}
.profile_details h4{
    font-size: 36px;
    font-weight: 500;
}
.about{
    margin-top: 2%;
    color: whitesmoke;
}
.about h2{
    font-weight: 700;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style :normal;
}
.about p{
    margin-top: 1%;
    font-weight: 400;
    font-size: 20px;
    font-family: "Playfair Display";
    font-optical-sizing: auto;
    font-style :normal;
    text-align: justify;
}
.records{
    color: whitesmoke;
    margin-top: 2%;
    margin-bottom: 2%;
}
.records h2{
    font-weight: 700;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style :normal;
}
.records p{
    margin-top: 1%;
    font-weight: 400;
    font-size: 20px;
    font-family: "Playfair Display";
    font-optical-sizing: auto;
    font-style :normal;
}
.link{
    margin: 2% 0%;
    display: flex;
    justify-content: right;
    align-items: end;
    font-weight: 400;
    font-size: 20px;
    font-family: "Playfair Display";
    font-optical-sizing: auto;
    font-style :normal;
    color: whitesmoke;
}
.link a{
    text-decoration: none;
    font-style: italic;
    padding-left: 1%;
    color: black;
}


@media screen and (max-width : 600px) {
    /* mobile */
    .profile_section{
        flex-direction: column;
    }
    .profile_image{
        width: 100%;
    }
    .profile_image img{
        width: 50%;
    }
    .profile_details{
        width: 100%;
        justify-content: center;
        align-items: center;
        font-size: 40px;
    }
    .profile_details h4{
        font-size: 28px;
    }
    .about{
        margin-top: 4%;
    }
    .about p{
        margin-top: 4%;
    }
    .records{
        margin-top: 4%;
    }
    .records p{
        margin-top: 4%;
        text-align: justify;
    }
    .link{
        justify-content: center;
        align-items: center;
        margin : 4% 4%;
        font-size: 18px;
    }
    .link a{
        margin-left: 2%;
    }
}

@media screen and ((max-width : 768px )and (min-width :601px)) {
    /* Tablet portrait*/
    .profile_section{
        flex-direction: column;
    }
    .profile_image{
        width: 100%;
    }
    .profile_image img{
        width: 50%;
    }
    .profile_details{
        width: 100%;
        font-size: 44px;
        justify-content: center;
        align-items: center;
    }
    .profile_details h4{
        font-size: 32px;
    }
    .about{
        margin-top: 4%;
    }
    .about p{
        margin-top: 4%;
    }
    .records{
        margin-top: 4%;
    }
    .records p{
        margin-top: 4%;
    }
    .link{
        justify-content: center;
        align-items: center;
        margin : 4% 4%;
    }
    .link a{
        margin-left: 2%
    };
}

@media screen and ((max-width : 1005px )and (min-width :769px)) {
    /* Tablet landscape*/
    .profile_section{
        flex-direction: column;
    }
    .profile_image{
        width: 100%;
    }
    .profile_image img{
        width: 50%;
    }
    .profile_details{
        width: 100%;
        font-size: 46px;
        justify-content: center;
        align-items: center;
    }
    .profile_details h4{
        font-size: 34px;
    }
    .about{
        margin-top: 4%;
    }
    .about p{
        margin-top: 4%;
    }
    .records{
        margin-top: 4%;
    }
    .records p{
        margin-top: 4%;
    }
    .link{
        justify-content: center;
        align-items: center;
        margin : 4% 4%;
    }
    .link a{
        margin-left: 2%
    };
}